

@font-face {
    font-family: 'PP NeueBit';
    src: url('fonts/PPNeueBit-Bold.woff') format('woff');
}

@font-face {
    font-family: 'PP NeueBit Regular';
    src: url('fonts/PPNeueBit-Regular.woff') format('woff');
}


@font-face {
    font-family: 'PP Neue Montreal';
    src: url('fonts/PPNeueMontreal-Regular.woff') format('woff');
}

@font-face {
    font-family: 'PP Neue Montreal Medium';
    src: url('fonts/PPNeueMontrealMono-Regular.woff') format('woff');
}

/* Make monospace font 1em */
.reveal .slides {
    font-size: 1.0em;
}

.dottxt-logo {
    font-family: 'PP NeueBit', sans-serif;
    color: #BD932F !important;
    font-size: 1.5em;
}

.outlines-logo {
    font-family: 'PP NeueBit', sans-serif;
    color: #e35a26 !important;
    font-size: 1.5em;
}

.bits {
    font-family: 'PP NeueBit Regular', sa   ns-serif;
    font-weight: 400;
}

.bits-bold {
    font-family: 'PP NeueBit', sans-serif;
    font-weight: 700;
}

.reveal .slides h1 {
    font-family: "PP NeueBit", sans-serif;
    font-size: 10em;
    text-align: center;
}

.reveal .slides h2 {
    font-family: "PP NeueBit Regular", sans-serif;
    font-size: 2em;
    text-align: center;
}

/* Code comment color */
code span.co {
    color: gold;
}

.reveal .title-slide h1 {
    font-size: 4em !important;
    line-height: 1em !important;
  }
